.btn-shorten {
    height: 35px;
    width: 150px;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 5px;
    letter-spacing: 1.5px;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 5px;
    text-align: center;
}

.btn-shorten:hover {
    cursor: pointer;
    box-shadow: 4px 4px 3px var(--color-accent);
}
