#topNavigation {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
}

#logo {
    height: fit-content;
    width: fit-content;
    padding: 0.4rem;
    font-size: 28px;
    font-family: "Nosifer", cursive;
    background: linear-gradient(90deg, var(--color-secondary) 0%, var(--color-accent) 60%, var(--color-background) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#navLinksContainer {
    height: inherit;
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navLinks {
    height: inherit;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.8rem;
}

.nav-link {
    width: fit-content;
    height: fit-content;
    font-size: 1.3rem;
    padding: 0.5rem;
    text-decoration: none;
    color: var(--color-text);
}

.nav-link:hover {
    cursor: pointer;
    background-color: var(--color-accent);
    border-radius: 0.5rem;
}
