#topNavigation {
    width: 100%;
    height: 75px;
    background-color: #60a7f7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    height: inherit;
}

#navLinks {
    height: inherit;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 1vw;
}

.nav-btn {
    color: #f76649;
    font-size: 1.3rem;
    padding: 0.5rem;
}

.nav-btn:hover {
    cursor: pointer;
    background-color: #eeafa2;
    border-radius: 0.5rem;
}