.modal-header {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.modal-body {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    align-items: flex-start;
    padding: 0.5rem;
}

.modal-body > h1 {
    width: 100%;
    height: fit-content;
    font-size: 1.6rem;
    letter-spacing: 1.5px;
    text-align: center;
}

.modal-body > p {
    width: 100%;
    height: fit-content;
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    text-align: center;
}
