.form-label {
    width: 90vw;
    max-width: 500px;
    font-size: 1.3rem;
    font-weight: bold;
}

@media (max-width: 575.98px) {
    .form-label {
      height: 30px;
      letter-spacing: 1.5px;
    }
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    .form-label {
      height: 30px;
      letter-spacing: 1.5px;
    }
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .form-label {
      height: 35px;
      letter-spacing: 1.5px;
    }
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .form-label {
      height: 35px;
      letter-spacing: 2px;
    }
  }
  @media (min-width: 1200px) and (max-width: 1399.98px) {
    .form-label {
      height: 35px;
      letter-spacing: 2px;
    }
  }
  @media (min-width: 1400px) {
    .form-label {
      height: 40px;
      letter-spacing: 2px;
    }
  }
