.page-heading {
    width: 100%;
    height: fit-content;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

.page-title-section, .page-description  {
    width: fit-content;
    height: fit-content;
}

.page-title-section {
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    align-items: center;
}

.page-description {
    font-size: 1.3rem;
    text-align: center;
}
